.color-nav{
    font-family: 'Inter';
    font-size: 18px;
  }

.locations-place{
    margin-left:4%;
    margin-top: 5%;
    color:#C9ADA7!important;
    text-shadow: 1px 1px #ffffff, -1px -1px #0e0d0d !important;

}
.event-cards{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbarcolor{
    color:#C9ADA7!important;
}