/* Add custom CSS here */
.App {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: #4A4E69;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: white;
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: white;
  }

  button{

    background-color:#C9ADA7 !important;
  }


  .color-nav{
    background-color: #22223B;
    color: #C9ADA7;
   
  }
.NavDropdown {
    background-color: white;
    color: white;
}


